
html{
    font-family: "iran sans";
}
header{
    height: 75px;
    background-color: darkgrey;
}
a{
    color: black;
}
#title{
    padding-top: 3rem;
}
#txt{
    padding: 1rem 3rem;
}
main{
    text-align: center;
    height: calc(100vh - 155px) ;
    background-color: aquamarine;
}
footer{
    height: 80px;
    background-color: #181818;
    color: white;
}












@font-face {
    font-family: "iran sans";
    src: url("../assets/iran.woff");
}